@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: black;
}

/* Main Section*/

.main {
  height: 70vh;
  background-image: url("resources/Images/bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.6;
  background-color: black;
  position: absolute;
  top: 0;
}

/* NavBar Section */

nav {
  display: flex;
  max-width: 60vw;
  height: 62px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 148px;
  position: relative;
  z-index: 10;
}

nav button {
  width: 76px;
  position: relative;
  z-index: 10;
}

/* Hero Section */

.hero {
  color: white;
  height: 91%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 17px;
  padding: 0 29px;
}

.hero> :nth-child(1) {
  font-weight: 900;
  font-size: 48px;
  line-height: 70px;
  text-align: center;
}

.hero> :nth-child(2) {
  font-weight: 500;
  font-size: 20px;
  line-height: normal;
  text-align: center;
}

.hero :nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}


/* Bottom Of Web */

.lineSeperation {
  height: 7px;
  background-color: rgb(46, 44, 44);
}

.button {
  padding: 4px 9px;
  font-weight: 500;
  color: white;
  background-color: rgba(146, 129, 129, 0.246);
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;

}

.red-btn {
  background-color: red;
  color: white;
  padding: 7px 33px 7px;
  font-size: 22px;
  border-radius: 4px;
  font-weight: bold;
}

.red-btn-sm {
  background-color: red;
  color: white;
}

.inputBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 9px;
}

.main input {
  padding: 12px 70px 12px 5px;
  font-weight: 500;
  font-size: 17px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(162, 147, 147, 0.5);
  color: white;
  border-color: 1px solid rgba(255, 255, 255, 0.362);
}

/* Secton Universal Style */
section {
  padding-top: 50px;
}


/* Section 1 (main CSS) */

.sec1 {
  margin-top: -32px;
  padding: 80px;
}

.sec1 content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 2173.78px;
  justify-content: center;
  text-size-adjust: 100%;
  width: 987px;
}

.sec1 h2 {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  font-size: 24px;
  font-weight: 500;
  text-size-adjust: 100%;
}

.secBox1 {
  display: flex;
  padding-top: 10px;
  width: 100%;
  gap: 9px;

}

#btn1 {
  padding: 8px 36px 8px 12px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 4px;
  font-weight: normal;
  text-size-adjust: 100%;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.362);
  cursor: pointer;


}

#btn2 {
  padding: 8px 36px 8px 12px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 4px;
  font-weight: normal;
  text-size-adjust: 100%;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.362);
  cursor: pointer;


}

.image-gallery {
  padding-top: 1.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-gallery img {
  max-width: 100%;
  height: auto;
}


@media (max-width: 768px) {
  .image-gallery img {
    max-width: 45%;
  }
}

@media (max-width: 480px) {
  .image-gallery img {
    max-width: 100%;
  }
}

/* Section Two - Three - Four - Five */

.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width :1300px) {
  .first {
    flex-wrap: wrap;
  }

  nav {
    max-width: 90vw;
  }
}


.secImg {
  position: relative;
}

.secImg img {
  width: 401px;
  position: relative;
  z-index: 10;
}

.secImg video {
  position: absolute;
  top: 51px;
  right: 0.5px;
  width: 401px;
}

section.first>div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

section.first>div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}


section.first>div :nth-child(2) {
  font-size: 24px;

}

/* FAQ Section / Section 6  */

.faq {
  color: white;
  height: 100%;
}

.faq h2 {
  text-align: center;
  font-size: 40px;
}

.faqBox {
  font-size: 24px;
  font-weight: 600;
  color: white;
  background-color: #2d2d2d;
  display: flex;
  padding: 24px;
  max-width: 60vw;
  margin: 12px auto;
  justify-content: space-between;
  cursor: pointer;
}

/* Footer Section */

footer {
  padding: 15px;
  color: white;
  margin: auto;
  max-width: 90vw;
  height: 30vh;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 15px;

}

@media screen and (max-width :1300px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 19px;
    gap: 35px;

  }

  .faqBox {
    font-size: 15px;

  }
}

footer a {
  color: white;
  text-decoration: none;

}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 12px;



}